<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a01110946/blob/main/assignment01_Python-for-Data-Science-IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ciencia y analítica de Datos**
#### A01110946 | Maytorena Espinosa de los Monteros, Fernando
#### Curso de IBM: "Data Analysis with Python"
#### Profesor: María De la Paz Rico
#### Tutor: Roberto Antonio Guevara González

## **Actividad de semana 4: Data Analysis with Python (IBM)**
---
## Apuntes
#### Estos son los apuntes que tomé del primer módulo del curso de Data Anlysis with Python (IBM).
---

## Module 1: Introduction

### Introduction to Data Analysis with Python

#### Problem: Used Car Appraisal
##### Can we estimate the price of used cars?

In [1]:
# primero importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# después leemos el archivo csv
path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [3]:
# cargamos el archivo al notebook para iniciar a trabajar con sus datos, y se lo asignamos a la variable "df"
# es importante agregar el argumento header=None para que no tome la primera fila como encabezado

df = pd.read_csv(path, header=None)

In [4]:
# para iniciar con el análisis de los datos, solicitamos ver las primeras cinco filas utilizando el métodod "dataframe.head()"
print("Las primeras cinco filas del dataframe son:")
df.head(5)

Las primeras cinco filas del dataframe son:

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
# también podemos analizar las últimas diez filas utilizando el método "dataframe.tail(10)"
print("Las últimas diez filas del dataframe son:")
df.tail(10)

Las últimas diez filas del dataframe son:

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
#como podemos observar, el dataframe no tiene encabezado, por lo que debemos agregarlo manualmente.
# para esto, utilizamos el método "dataframe.columns" y le asignamos una lista con los nombres de las columnas.
# en este caso, los nombres de las columnas son:

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = headers
print("headers\n", headers)
df.head(10)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [7]:
#Debemos reemplazar los símbolos de "?" con NaN (Not a Number) para que el método dropna() pueda eliminar los valores faltantes.
#Para esto, utilizamos el método "dataframe.replace(A, B, inplace = True)" donde A es el valor que queremos reemplazar y B el valor por el que lo queremos reemplazar, por ejemplo:
df1=df.replace('?',np.NaN)

In [8]:
#Ahora, podemos eliminar las filas que no tienen datos completos utilizando el método "dataframe.dropna(subset=["columna"], axis=0, inplace = True)"
#En este caso, el argumento subset indica que queremos eliminar las filas que no tienen datos en la columna "price", y el argumento axis indica que queremos eliminar las filas (axis=0), no las columnas (axis=1).
df=df1.dropna(subset=["price"], axis=0)
df.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575

In [9]:
#Ahora, podemos guardar el dataframe en un archivo csv utilizando el método "dataframe.to_csv("nombre_del_archivo.csv", index=False)".
#El argumento index=False indica que no queremos guardar el índice del dataframe en el archivo csv.
df.to_csv("automobile.csv", index=False)

---

## Module 2: Data Wrangling

##### Pre-processing Data in Python
El pre-procesamiento de datos es un paso necesario en el análisis de datos. Este se define como el proceso de convertir mapear datos de su forma inicial de adquisición a otro formato, con el propósito de preparar esos datos para analizarlos posteriormente. Comúnmente se le conoce como "data cleaning" o "data wrangling".

- Identificar y manejar valores faltantes
- Formateo de datos
- Normalización de datos (centering/scaling)
- Agrupación de datos
- Convertir valores categóricos a variables numéricas

##### Dealing with Missing Values in Python
La falta de valores es un problema importante en el análisis de datos, estos pueden presentarse con los valores "?", "NaN", "N/A", simplemente una celda vacía, sin valor. Afortunadamente existen diversas formas de lidiar con este problema. El primero, sería revisar si el equipo de adquisición de datos tiene manera de regresar a recabar los datos faltantes. Otra opción es simplemente eliminar la variable completa, o el registro completo donde se presentan los valores faltantes, dependiendo del nivel de importancia de estos valores y qué tanto afectarían al análisis posterior. Sin embargo, una posible mejor solución sería reemplazar los datos faltantes, en vez de eliminar por completo una variable u observación de datos, ya que con esta estrategia no se desperdician datos; entendiendo que la precisión de los datos podría verse afectada.

1. Revisar con el equipo de adquisición de datos si puede conseguir los valores faltantes desde la fuente.
2. Eliminar los datos faltantes.
   1. Eliminar la variable completa que contiene los datos faltantes.
   2. Eliminar la observación completa que contiene los datos faltantes.
3. Reemplazar los datos faltantes.
   1. Reemplazar los datos con la media del resto (o algún grupo particular) de valores.
   2. Reemplazar los datos por frecuencia, con la moda del resto (o algún grupo particular) de valores.
   3. Reemplazar los datos por medio de otras funciones.
4. Mantener los datos faltantes sin modificación.

Para eliminar valores faltantes en otras columnas, podemos reemplazarlos por el promedio de la columna utilizando el método ```dataframe.fillna(dataframe.mean(), inplace=True)```

También podemos utilizar ```dataframe.dropna()``` para eliminar las observaciones o variables que no tienen datos completos. Para eliminar las observaciones, utiliza "axis=0", para eliminar las variables, utiliza "axis=1". Para reemplazar valores faltantes, la librería Pandas utiliza el método ```dataframe.replace(A, B, inplace = True)``` donde A es el valor que queremos reemplazar y B el valor por el que lo queremos reemplazar, por ejemplo: ```df.replace("?", np.nan, inplace = True)```

##### Data Formatting in Python

Los datos pueden ser recolectados desde diferentes fuentes y almacenados en diferentes formatos. Convertir los datos al mismo estandard de formato es un paso importante para el análisis de datos, pues permite comparar los datos de diferentes fuentes con mayor facilidad. En el curso ponen como ejemplo la forma en que diferentes fuentes se refieren a la ciudad de Nueva York, por ejemplo: "NY", "New York", "New York City", "NYC", etc. Para poder comparar los datos de diferentes fuentes, es necesario convertirlos al mismo formato, por ejemplo: "New York". Otro ejemplo sería el análisis de datos numéricos en un formato particular, como podría ser la conversión de millas por hora a kilómetros por hora. Esto se puede hacer con una simple operación aritmética: ```df["kph"] = df["mph"] * 1.60934```

En este caso, el dataframe "df" tiene una columna llamada "mph" que contiene los datos en millas por hora, y queremos convertirlos a kilómetros por hora. Para esto, creamos una nueva columna llamada "kph" y le asignamos los datos de la columna "mph" multiplicados por 1.60934.

Para el análisis de datos, es muy importante utilizar el tipo de datos correcto para cada columna. Por ejemplo, en el video muestran una base de datos que contiene la columna "price", sin embargo, para realizar operaciones aritméticas sobre esta columna, primero debemos convertirla a un tipo de dato numérico, como float o int. Python utiliza varios tipos de datos, algunos de estos son: int, float, string, boolean, list, tuple, dictionary, etc.Data formatting nos ayuda a convertir los datos de un tipo de dato a otro, por ejemplo, podemos convertir un string a un int o un float, para su correcto análisis. Para identificar el tipo de dato de una columna, puedes utilizar ```dataframe.dtypes()```, y meter como argumento el nombre de la columna que quieres analizar. En caso de tener un tipo de dato incorrecto, el método ```dataframe.astype()``` nos permite convertir el tipo de dato de una columna. Por ejemplo, ```dataframe["price"] = dataframe["price"].astype("float")```

##### Data Normalization in Python

Las bases de datos suelen contar con datos muy variados, y por lo tanto, el rango de valores de cada columna también es muy variado. Para poder comparar los datos de diferentes columnas, es necesario normalizar los datos, es decir, convertirlos a un rango de valores común, esto facilita la comparación de los datos. La normalización de los datos también ayuda en aspectos computacionales, pues permite que los algoritmos de aprendizaje automático funcionen de manera más eficiente. Por otro lado, cuando una variable tiene un rango de valores muy grande, puede influir en mayor medida en el resultado de un modelo de aprendizaje automático, sin ser necesariamente de mayor importancia para predecir una variable objetivo. Existen diferentes métodos para normalizar los datos, como Simple Feature Scaling, Min-Max Scaling o Z-Score Scaling, a continuación se describen:
- Para normalizar los datos utilizando Simple Feature Scaling, podemos utilizar el método ".max" de Pandas para dividir todos los valores de una columna entre el valor máximo de esa misma columna, de la siguiente manera: ```dataframe["columna"] = dataframe["columna"] / dataframe["columna"].max()```
- Para normalizar los datos utilizando Min-Max Scaling, podemos utilizar el método ".min" de Pandas para restar el valor mínimo de una columna a todos los valores de esa misma columna, y luego dividir el resultado entre el valor máximo de esa misma columna, de la siguiente manera: ```dataframe["columna"] = (dataframe["columna"] - dataframe["columna"].min()) / (dataframe["columna"].max() - dataframe["columna"].min())```
- Para normalizar los datos utilizando Z-Score scaling, podemos utilizar el método ".mean" de Pandas para restar el valor promedio de una columna a todos los valores de esa misma columna, y luego dividir el resultado entre la desviación estándar de esa misma columna, de la siguiente manera: ```dataframe["columna"] = (dataframe["columna"] - dataframe["columna"].mean()) / dataframe["columna"].std()```

##### Binning in Python

Se le conoce a *binning* cuando se agrupan valores en ciertas categorías. Por ejemplo, si tenemos una columna con edades, podemos agrupar a las personas en categorías de acuerdo a su edad, por ejemplo: niños, adolescentes, adultos y ancianos. Numpy cuenta con el método linspace, el cual nos permite crear un array con valores equidistantes, esto nos ayuda a generar el inicio y término de cada bin o grupo. El método linspace se implementa de la siguienta manera: ```linspace(start_value, end_value, numbers_generated)```. Por ejemplo, si queremos crear un array con 4 valores equidistantes entre 0 y 100, lo hacemos de la siguiente manera:
```bins_4 = np.linspace(min(df["price"]), max(df["price"]), 4)```

En Python, podemos realizar *binning* utilizando el método ```pd.cut(dataframe["columna"], bins, labels, include_lowest)```. El argumento bins indica los valores de inicio y término de cada bin, el argumento labels indica el nombre de cada bin, y el argumento include_lowest indica si el primer valor de cada bin debe ser incluido o no; por ejemplo:
- ```group_names = ['Low', 'Medium', 'High']```
- ```df['price-binned'] = pd.cut(df['price'], bins_4, labels=group_names, include_lowest=True )```

Por último, una excelente herramienta para visualizar la agupación de los datos es utilizando histogramas. Para crear un histograma, utilizamos el método ```dataframe["columna"].hist()```.
En este caso, queremos visualizar la distribución de los precios de los autos, por lo que utilizamos el método ```df["price-binned"].hist()```.

##### Turning categorical variables into quantitative variables in Python

La mayoría de los modelos estadísticos solo aceptan números como entrada, por lo que debemos convertir datos de variables categóricas a valores numéricos. Una técnica común para convertir variables categóricas a valores numéricos es utilizar el método *One Hot Encoding*. En este método, cada valor de la variable categórica se convierte en una nueva columna y se asigna un valor de 0 o 1 a la columna.

En la librería Pandas, podemos convertir variables categóricas a valores numéricos utilizando el método ```pd.get_dummies(["columna"])```. Por ejemplo, si queremos convertir la variable "fuel-type" a valores numéricos, podemos utilizar el método "get_dummies" de la siguiente manera:
```dummy_variable_1 = pd.get_dummies(df["fuel-type"])```. Después, podemos agregar esta variable al dataframe original utilizando el método ```dataframe.join```, y eliminar la variable "fuel-type" del dataframe original utilizando el método "dataframe.drop". Ahora nuestro dataframe contiene puras variables numéricas, lo que facilita el análisis de los datos.

---

## Exploratory Data Analysis

##### Exploratory Data Analysis

El EDA (Exploratory Data Analysis), o análisis de datos exploratorio, es un paso importante en el análisis de datos. El objetivo del EDA es resumir las características principales de un conjunto de datos utilizando métodos visuales para entender mejor los datos. El EDA nos ayuda a:
1. Entender mejor los datos que estamos utilizando.
2. Obtener ideas sobre la relación entre diferentes variables y la respuesta que estamos buscando.
3. Desarrollar habilidades, técnicas y comprensión para la posterior modelación.
4. Identificar variables importantes para el modelo; identificar variables que no aportan información y pueden ser eliminadas del modelo; o identificar y tratar valores atípicos y valores faltantes.

>En el curso de IBM, la pregunta a responder es: ¿cuáles son las características más importantes que determinan el precio de un auto?

Existen diferentes técnicas para realizar el EDA, en el curso se mostrarán las siguientes:
1. Estadísticas descriptivas.
2. Agrupación básica de datoos, utilizando ```groupby```.
3. ANOVA (Análisis de varianza).
4. Correlación y dependencia.
5. Correlación avanzada, particularmente, la correlación de Pearson y la correlación de heatmaps.

##### Descriptive Statistics

En este video se habla de cómo analizar un dataset por medio de estadística descriptiva. El primer paso mencionado es utilizando el método ```dataframe.describe()``` para obtener estadísticas básicas de las columnas numéricas del dataframe. El método ```dataframe.describe()``` nos devuelve estadísticas básicas de las columnas numéricas del dataframe, como el conteo de observaciones, el promedio, la desviación estándar, el mínimo, el máximo y los cuartiles. Cualquier valor *NaN (Not a Number)* no se muestra en el método ```dataframe.describe()```. Este método de una idea clara, de forma muy rápida, de la distribución de las variables numéricas.

Sin embargo, tu dataset podría también contener variables categóricas, como el tipo de combustible, el número de puertas, el tipo de motor, etc. El método ```dataframe.value_counts()``` nos devuelve el conteo de cada valor único en una columna. Por ejemplo, podemos utilizar el método ```dataframe.value_counts()``` para contar el número de observaciones con cada tipo de motor.

Una excelente herramienta para visualizar los datos de las variables numéricas es el método ```dataframe.boxplot(column="columna")```. Este método nos devuelve un gráfico de caja para cada columna numérica del dataframe. El gráfico de caja nos muestra la distribución de los datos a través de los cuartiles. El eje horizontal del gráfico de caja representa las diferentes columnas numéricas del dataframe. El eje vertical del gráfico de caja representa el valor de las observaciones. El rango intercuartil (Rango intercuartil = Q3 - Q1) se representa con la línea dentro del gráfico de caja; en donde el cuartil inferior (Q1) se representa con la línea inferior del gráfico de caja; y el cuartil superior (Q3) se representa con la línea superior del gráfico de caja. El valor mínimo se representa con un punto en la parte inferior del gráfico de caja. El valor máximo se representa con un punto en la parte superior del gráfico de caja. Los puntos en el gráfico de caja representan los valores atípicos.

Otro gráfico de gran utilidad para visualizar la relación entre dos variables es el gráfico de dispersión, o *scatter plot*. El método ```dataframe.plot(x="columna1", y="columna2", kind="scatter")``` nos devuelve un gráfico de dispersión. La variable independiente, o predictor, se representa en el eje horizontal del gráfico de dispersión. La variable dependiente, o target, se representa en el eje vertical del gráfico de dispersión. En el ejecmplo del video, el predictor es el precio del auto, y el target es el tamaño del motor. Utilizan la función "scatter" de la librería ```matplotlib.pyplot``` para crear el gráfico de dispersión.

##### GroupBy in Python

Otra técnica de análisis de datos importante es la agrupación de datos. En Python, podemos agrupar datos utilizando el método ```dataframe.groupby(["columna"])```, donde "columna" es el nombre de la columna por la que queremos agrupar los datos. El método ```groupby``` se utiliza en variables categóricas, es decir, agrupa los datos en subconjuntos que tienen el mismo valor en la columna por la que se agrupan. Se puede agrupar por más de una columna, por ejemplo: ```df[['columna1', 'columna2']].groupby(['columna1', 'columna2'])```.

In [1]:
# Un ejemplo de lo mencionado anteriormente es el siguiente:
df_test = df[['drive-wheels','body-style','price']]
df_grp = df_test.groupby(['drive-wheels'],as_index=False).mean()
df_grp

NameError: name 'df' is not defined

Lo anterior nos muestra el promedio de los precios de los autos agrupados por el tipo de tracción (drive-wheels). Para facilitar la visualización de los datos, podemos utilizar el método ```groupby.pivot("columna1", "columna2")``` para convertir los datos en una tabla. En este caso, la ```columna1``` es el índice de la tabla y la ```columna2``` es la columna de los datos. El resultado es una tabla con los datos agrupados por la columna1 y la columna2.

In [ ]:
df_pivot = df_grp.pivot(index='drive-wheels',columns='body-style')
df_pivot

También podemos utilizar el método ```groupby.pivot_table()``` para convertir los datos en una tabla. En este caso, el método ```pivot_table``` tiene los mismos argumentos que el método "pivot".El resultado es una tabla con los datos agrupados por la ```columna1``` y la ```columna2```.

In [ ]:
# A continuación, se muestra un ejemplo del método pivot_table():
df_pivot = df_grp.pivot_table(index='drive-wheels',columns='body-style')
df_pivot

# Lo anterior sería similar a una hoja de cálculo, donde tenemos los datos agrupados en filas y columnas, como las que estamos acostumbrados con Excel.

In [ ]:
Por último, otra gran herramienta de visualización de datos son los mapas de calor, o heatmaps.
# En el video, utilizan el método pcolor de la librearía pyplot de matplotlib para crear un mapa de calor, convirtiendo la pivot table a un gráfico visual.

plt.pcolor(df_pivot, cmap='RdBu')
plt.colorbar()
plt.show()

##### Analysis of Variance ANOVA

ANOVA (Análisis de Varianza), es un método estadístico que nos permite encontrar la correlación entre diferentes grupos de una variable categorica. El F-test score mide cuán diferentes son los promedios de los grupos, mientras que el p-value nos dice la significancia de los resultados. Si el p-value es pequeño (menor a 0.05), y el F-test es elevado (mayor a 1), entonces podemos decir que la correlación de una variable categórica es significativa.

En el video del curso, se utiliza el método "stats.f_oneway" de la librería scipy para calcular el ANOVA, es decir, para comparar los promedios de los grupos "make" y "price". El método "stats.f_oneway" toma como argumentos los grupos que queremos comparar, y devuelve el F-test score y el p-value. Primero, entre los grupos "honda" y "subaru", y luego entre los grupos "honda" y "jaguar".En el caso de "Honda" y "Subaru", el p-value es muy pequeño, y el F-test score es muy alto, por lo que podemos decir que la correlación entre "make" y "price" es significativa. En el caso de "Honda" y "Jaguar", el p-value es muy grande, y el F-test score es muy bajo, por lo que podemos decir que la correlación entre "make" y "price" no es significativa.

##### Correlation